<div id="contact-container">
  <figure id="developer">
    <img
      src="https://media.licdn.com/dms/image/D4D03AQElrzIiuwHa0Q/profile-displayphoto-shrink_400_400/0/1673215535134?e=1701907200&v=beta&t=zrMFJLIkYQQEzwwO-o_WmNqFqfyOmLPie9_jkv8a5jw"
      alt="Foto Pedro Augusto"
    />
    <figcaption>
      <h2>Pedro Augusto</h2>
      <p>Desenvolvedor Front-End</p>
    </figcaption>
  </figure>
  <div id="social-media">
    <h1>Entre em contato🖐🏻</h1>
    <a href="https://github.com/DevPedroAugusto" target="_blank">
      <figure class="social">
        <img
          class="logo"
          src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png"
          alt="Plataforma GitHub"
        />
        <figcaption>
          <h2>GitHub</h2>
          <p>Saiba um pouco mais sobre meus projetos.</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/pedroaugusto-dev/" target="_blank">
      <figure class="social">
        <img
          class="logo"
          src="https://img.freepik.com/vetores-premium/logotipo-quadrado-do-linkedin-isolado-no-fundo-branco_469489-892.jpg?w=360"
          alt="Plataforma Linkedin"
        />
        <figcaption>
          <h2>Linkedin</h2>
          <p>Saiba um pouco mais sobre minha carreira.</p>
        </figcaption>
      </figure>
    </a>
    <a href="https://www.instagram.com/devserpedro/" target="_blank">
      <figure class="social">
        <img
          class="logo"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmfyouJt8ovY45LPVwrnW-13loswsIatOYrA&usqp=CAU"
          alt="Plataforma Instagram"
        />
        <figcaption>
          <h2>Instagram</h2>
          <p>Saiba um pouco mais sobre mim.</p>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
