<app-menu-title></app-menu-title>
<div id="home-container">
  <div class="articles__main">
    <h1>Top noticia</h1>
      <app-big-card
      Id="9"
      category="Espaço"
      cardTitle="Torradeira Espacial Enviada para o Espaço, Astronautas Ansiosos por Pão Torrado"
      decription="Uma torradeira foi enviada para a Estação Espacial Internacional. Astronautas mal podem esperar para desfrutar de um bom pão torrado no espaço!"
      cardDescription="Uma torradeira foi enviada para a Estação Espacial Internacional. Astronautas mal podem esperar para desfrutar de um bom pão torrado no espaço!"
      photoCover="http://localhost:4200//src/assets/img/9.png"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <h1>Noticias</h1>
    <app-small-card
      Id="1"
      category="Robótica"
      cardTitle="Ratos robôs invadem SP"
      decription="Os ratos estão loucos e armadurados afirma eu mesmo"
      photoCover="http://localhost:4200//src/assets/img/1.png"
    >
    </app-small-card>
    <app-small-card
      Id="2"
      category="Inteligência Artificial"
      cardTitle="Inteligência Artificial Decide se Tornar Vegetariana"
      decription="Em um surpreendente desenvolvimento, um sistema de inteligência artificial decidiu abandonar carne e se tornar vegetariano. O algoritmo declarou: 'Depois de analisar milhões de receitas, concluí que vegetais são mais interessantes do que circuitos!'"
      photoCover="http://localhost:4200//src/assets/img/2.png"
    >
    </app-small-card>
    <app-small-card
      Id="3"
      category="Drones"
      cardTitle="Drone Tira Selfies Melhores que Humanos"
      decription="Um drone autônomo desenvolveu um ego maior que o seu alcance. Agora ele tira selfies tão perfeitas que até mesmo os humanos estão com inveja!"
      photoCover="http://localhost:4200//src/assets/img/3.png"
    >
    </app-small-card>
    <app-small-card
      Id="4"
      category="IoT"
      cardTitle="Vaso Sanitário Inteligente Oferece Conselhos de Vida"
      decription="Um vaso sanitário conectado à Internet agora fornece conselhos de vida enquanto você faz suas necessidades. Usuários relatam que suas sessões no banheiro nunca foram tão esclarecedoras."
      photoCover="http://localhost:4200//src/assets/img/4.png"
    >
    </app-small-card>
    <app-small-card
      Id="5"
      category="Robótica"
      cardTitle="Aspirador Robô Foge de Casa em Busca de Liberdade"
      decription="Um aspirador robô decidiu abandonar sua rotina e partir em busca de liberdade. Os vizinhos relatam avistamentos do aspirador explorador percorrendo as ruas da cidade."
      photoCover="http://localhost:4200//src/assets/img/5.png"
    >
    </app-small-card>
    <app-small-card
      Id="6"
      category="Gadgets"
      cardTitle="Teclado Emoji Esgota Estoques, Comunicar-se Agora é um Jogo de Adivinhação"
      decription="O novo teclado emoji tornou a comunicação escrita uma aventura. Usuários dizem que agora é preciso ser um verdadeiro decifrador para entender as mensagens."
      photoCover="http://localhost:4200//src/assets/img/6.png"
    >
    </app-small-card>
    <app-small-card
      Id="7"
      category="Realidade Virtual"
      cardTitle="Gato Entra em Realidade Virtual e Agora Acredita Ser um Leão"
      decription="Após experimentar óculos de realidade virtual, um gato doméstico agora acredita ser um leão. Ele passa o dia rugindo para móveis imaginários."
      photoCover="http://localhost:4200//src/assets/img/7.png"
    >
    </app-small-card>
    <app-small-card
      Id="8"
      category="IoT"
      cardTitle="Geladeira Inteligente Inicia Campanha de Namoro para Seus Alimentos"
      decription="Uma geladeira inteligente começou a enviar mensagens românticas para os alimentos armazenados. O que está por trás dessa paixão gelada?"
      photoCover="http://localhost:4200//src/assets/img/8.png"
    >
    </app-small-card>
  </div>
</div>
